* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 161, 161); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8361; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff512a; 
}

/* nav bar */

.z-index-50 {
  z-index: 50;
}

.nav_btn {
  font-size: 30px;
}

.myNav li a {
  transition: .3s;
}

.myNav li a:hover {
  color: #000958;
}

.curser_pointer {
  cursor: pointer;
}

.sign_btn {
  border: 1px solid #4D5187;
  border-radius: 5px;
  padding: 18px 32px;
  background-color: transparent;
  line-height: 14px;
  transition: .3s;
}

.sign_btn:hover {
  border: 1px solid #4D5187;
  background-color: #4D5187;
  color: #FFFAF5;
}

.mew_logo:hover {
  color: black;
}

/* connected */
.book_btn {
  padding: 22px;
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  border: none;
  line-height: 16px;
}

input[type="checkbox"]:checked {
  accent-color: #FF5B2E;
  color: white;
}

input.larger {
  width: 24px;
  height: 24px;
}

.w-179 {
  width: 179px !important;
}

/* service---- */

.max-w-250 {
  max-width: 250px;
}

.max-w-482 {
  max-width: 482px;
}

.service_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  background-color: #D8A7C0;
  border-radius: 15px;
  margin: 0 auto 33px auto;
}

.trangle{
  top: 50%;
  left: 68%;
  /* z-index: 4; */
  transform: translate(-50%, -50%);
}


.service_card {

  cursor: pointer;
  transition: all 111ms linear;
  box-shadow: -17px 14px 68px -4px rgba(232, 196, 148, 0.5);
  max-height: 262px;
}

.service_card:hover {
  background: #FB901A !important;

}

.service_card:hover .service_box {
  background-color: white !important;
}

.service_card:hover span {
  color: white;
  border-bottom: 2px solid white;
}

.service_card:hover p {
  color: white;

}

.dog_foot {
  position: relative;
  top: -10px !important;
}

.bg_green {
  background-color: #00C27E !important;
}

.bg_aashmani {
  background-color: #73BFFF !important;
}

.bg_yellow {
  background-color: #FABF3E !important;
}

/* facilities */
.mw_577 {
  max-width: 577px;
}

.border_circle {
  border: 5px solid #FFEFDE;
}


.mw_363 {
  max-width: 363px;
}


.img_border {
  border: 5px solid #FFEFDE;
  padding: 55px;
}

.border_bottom {
  position: relative;
}

.border_bottom::before {
  content: "";
  position: absolute;
  background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid #FFEFDE;
  bottom: -15px;
  right: -20px;
  z-index: 5;
}

.circle {
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid #FFEFDE;

  bottom: -15px;
  left: -20px !important;
  z-index: 5;
}

.max-w-222 {
  max-width: 222px !important;

  bottom: -10px;
  left: 54px;
  z-index: 5;
}

.circle::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  /* left: 71px; */
  background: #FFEFDE;

}

.border_bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #FFEFDE;
}

.mw_244 {
  max-width: 244px;
}

/* .fc_main{
  max-width: 390px;
} */

/* groomer card */
.groomer_card {
  background: #FFE4C8;
  border-radius: 23px;
  width: 270px;
  height: 316px;

}

.groomer_card:hover .groomer_img {
  transform: translateY(-60%);
}

.groomer_img {
  border: 15px solid #FFF4EA;
  width: 200px;
  height: 270px;
  transform: translateY(-56%);
  transition: all .5s;

}

.groomer .slick-track {
  padding-top: 50px;
}
.smile_emogi{
  animation-name: example3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
@keyframes example3 {
  0% {
    transform: rotate(-45deg);
    width: 40px ;
  }

  50% {
    transform: rotateZ(100deg);
    width: 35px;
  }

  100% {
    transform: rotate(-360deg);
    width: 40px;
  }
}

.zig-zag_position {
  position: absolute;
  top: 14%;
  left: 2%;
  z-index: 0;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
@keyframes example2 {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.circle_position {
  position: absolute;
  top: 10%;
  right: 2%;
  z-index: 0;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes example {
  0% {
    transform: translateY(90);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.header_card::before {
  content: '';
  background: rgb(255, 255, 255, 0.4);
  width: 50%;
  height: 100%;
  left: -125%;
  top: 0%;
  transform: skew(45deg);
  position: absolute;
  transition: left .5s ease-in-out;
}

.header_card:hover::before {
  left: 150%;
}

.header_card:hover,
.header_card:active {
  
  color: #fff;
  box-shadow: 0px -1px 10px 0 #00c8be86;
 
}
.translate-x-12{
transform: translate(-12px);
}

.translate_text {
  transform: translateY(-102%);
}

.view_btn {
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  border: none;
  /* padding: 22px 28px; */
  line-height: 16px;
  position: relative;
  overflow: hidden;
}

.view_btn::before {
  content: '';
  background: rgb(255, 255, 255, 0.4);
  width: 50%;
  height: 100%;
  left: -125%;
  top: 0%;
  transform: skew(45deg);
  position: absolute;
  transition: left .4s ease-in-out;
}

.view_btn:hover::before {
  left: 150%;
}

.view_btn:hover,
.view_btn:active {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(255, 91, 46, 0.42);
}




/* blog */
.slider_box {
  background: #FFFFFF;
  box-shadow: 0px 36px 39px rgba(7, 0, 59, 0.04);
  border-radius: 16px;
  padding: 11px 22px 11px 17px;
  width: 100%;
}

.kitten_img {
  width: 347px;
  height: 344px;
  object-fit: contain;
}


.blog_slider {
  background: #FF5B2E;


  border: 1px solid #FF5B2E;
  box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);

  transform: matrix(1, 0, 0, -1, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39.77px;
  height: 39.77px;
  cursor: pointer;
}

.slider_para {
  text-align: justify;
}

.learn_btn {
  width: 156px;
  height: 60px;
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  padding: 22px 33px;
  line-height: 16px;
  border: none;
  position: relative;
  overflow: hidden;
}

.learn_btn::before {
  content: '';
  background: rgb(255, 255, 255, 0.4);
  width: 50%;
  height: 100%;
  left: -125%;
  top: 0%;
  transform: skew(45deg);
  position: absolute;
  transition: left .4s ease-in-out;
}

.learn_btn:hover::before {
  left: 150%;
}

/* footer */
.footer_icon {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
}

.footer_icon:hover {
  box-shadow: 0px 6px 20px -6px rgba(166, 89, 11, 0.879);
  transform: translateY(-5px);
}

.border_top {
  border-top: 2px solid #EEDDCE;
  width: 100%;
  padding-top: 28px;
}

.color {
  color: #89847F;
}

footer p a:hover {
  color: #000958;
}

/* custom container media query */
@media (min-width:1200px) and (max-width:1440px) {
  .myContainer {
    max-width: 1140px !important;
  }
}

/* media queries */
@media (min-width:1400px) {
  .circle::before {
    left: -3px;
    z-index: 5;
  }

  .circle::after {
    left: 0;
  }
}

@media (min-width:300px) {
  .foot_man {
    display: none;

  }
}

.profile {
  left: -15px;
  border-radius: 100px;
}

.profile1 {
  left: -30px;
  border-radius: 100px;
}

.profile2 {
  left: -45px;
  border-radius: 100px;
}

.profile3 {
  left: -60px;
  border-radius: 100px;
}

.profile4 {
  left: -75px;
  border-radius: 100px;
}

/* .profile:hover{ */

.profile:hover {

  z-index: 3;
}

.profile1:hover {
  z-index: 3;
}

.profile2:hover {
  z-index: 3;
}

.profile3:hover {
  z-index: 3;
}

.profile4:hover {
  z-index: 3;
}

.profile4::after {
  content: "+7";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins SemiBold';
  color: white;
  width: 80%;
  height: 80%;
  border-radius: 100px;
  background-color: #ff5b2ec6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile4:hover::after{
  background-color: #ff5b2e;
}
/* circle_head */

.circle_head {

  right: 10%;
  bottom: 15%;
  z-index: 0;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.max-w-456 {
  max-width: 456px;
}

.header_card_text {
  background: linear-gradient(97.17deg, #FF5D31 2.51%, #FF9F2E 70.22%, #FF5B2E 70.23%);
  border-radius: 34px 34px 34px 10px;
}

.header_card {
  background: linear-gradient(110.59deg, #009F97 7.32%, #00C8BD 98.68%);
  border-left: 5px solid #FFEFDE;
  border-radius: 40px 40px 10px 0px;
  padding: 33px;
  position: relative;
  right: -1px;
}

.border-right-white {
  border-right: 3px solid white !important;

}

.h_72 {
  height: 77px;
}

.max-w-258 {
  max-width: 258px !important;
}
@media (max-width:400px) {
  .circle_head{
  
    display: none;
  }
}

@media (max-width:576px) {
  .book_btn {
    padding: 15px;
  }

  .flex-col {
    flex-direction: column !important;
  }
  .trangle{
    display: none;
  }
  .circle_head{
    right: 10%;
    bottom: 10%;
  }
}

@media (min-width:992px) {
  .lh_30 {
    line-height: 30px;
  }

  .slider_box {
    padding: 13px 39px 39px 18px;
  }

  .slider_para {
    line-height: 160.2%;
    text-align: justify;
  }

  /* header */
  .foot_man {
    display: block;
    width: 70px;
    left: -15px;
    top: -10px;

  }

  .w_142 {
    width: 142px !important;
  }


  /* our service  */
  .col-lg-3:nth-child(even) {
    margin-top: 35px;

  }

  .max-w-641 {
    max-width: 641px;
  }

  .object_fit {
    object-fit: cover;
  }


}

@media (max-width:992px) {
  .myNav {
    position: absolute;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: #FFFAF5;
    height: 100vh;
    width: 100%;
    transition: all 300ms linear;
    z-index: 50;
  }
  .column_reverse{
    flex-direction: column-reverse !important;
  }
  .w_142{
    width: 142px !important;
  }
  .trangle{
    top: 40%;
    left: 80%;
    /* z-index: 4; */
    transform: translate(-50%, -50%);
  }
  .flex_md_col{
    flex-direction: column !important;

  }

  .align_start {
    align-items: start !important;
  }

  .align-items-md-start{
    align-items: start !important;
  }
  /* .header_card_text{ */


  .header_card_text {

    background: linear-gradient(97.17deg, #FF5D31 2.51%, #FF9F2E 58.22%, #FF5B2E 78.23%);
    border-radius: 0px 0px 10px 10px;
  }

  .header_card {
    background: linear-gradient(110.59deg, #009F97 7.32%, #00C8BD 98.68%);
    border-left: 5px solid #FFEFDE;
    border-radius: 40px 40px 0px 0px;
    padding: 33px;
    position: relative;
    right: -1px;
  }

  .border_bottom::before {
    right: 0px !important;

  }

  .circle::before {
    left: 0 !important;
  }

  .m-12 {
    margin: 0 12px !important;
  }

  .border_0 {
    border: 0px !important;
  }

  .myNav li a {
    font-size: 20px;
  }

  .showNav {
    left: 0;
  }

  .position_md_relative {
    position: relative !important;
  }

  .w_sm_100 {
    width: 100% !important;
  }

  .learn_btn {
    padding: 12px 21px;
  }
}
@media (max-width:1187px) {
  .circle_head{
    right: 2%;
    bottom: 10%;
  }
  
}