@font-face {
    font-family: 'Slackey';
    src: url(./assets/fonts/Slackey/Slackey-Regular.ttf);
}
@font-face {
    font-family: 'Poppins Regular';
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
<<<<<<< HEAD
:root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-xmd: 18px;
    --fs-lg: 20px;
    --fs-xlg: 20px;
    --fs-xxlg: 27px;
    --fs-xl: 35px;
    --fs-xxl:45px;
    --fs-xxxl: 55px;
   
    --bg-main:rgba(255, 244, 234, 1);
    --bg-second: #FFFAF5;
    --text-main: #000958;
    --text-black:#000000;
   --text-white:#ffffff;
   --text-light-grey:#B2B3C4;
   --text-light:#656689;
   --text-voilet:#48496A;
   --text-light-white:#f3f3f3;
   --text-dark:#292525;
  }
  
=======
>>>>>>> 9b71fc1127a596b242e8236fbe267feb909f111e
