@font-face {
    font-family: 'Slackey';
    src: url(./assets/fonts/Slackey/Slackey-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

:root {

    /* font size */
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-xmd: 18px;
    --fs-lg: 20px;
    --fs-xlg: 20px;
    --fs-xxlg: 27px;
    --fs-xl: 35px;
    --fs-xxl: 45px;
    --fs-xxxl: 55px;


    /* color */
    --bg-main: rgba(255, 244, 234, 1);
    --bg-second: #FFFAF5;
    --text-main: #000958;
    --text-black: #000000;
    --text-white: #ffffff;
    --text-light-grey: #B2B3C4;
    --text-light: #656689;
    --text-voilet: #48496A;
    --text-light-white: #f3f3f3;
    --text-dark: #292525;

    /* font family */
    --ff-slackey: 'Slackey';
    --ff-PoppinsRegular: 'Poppins Regular';
    --ff-PoppinsMedium: 'Poppins Medium';
    --ff-PoppinsSemiBold: 'Poppins SemiBold';

}

/* font family */

.ff_Slackey{
    font-family: var(--ff-slackey);
}

.ff_PoppinsRegular{
    font-family: var(--ff-PoppinsRegular);
}

.ff_PoppinsMedium{
    font-family: var(--ff-PoppinsMedium);
}

.ff_PoppinsSemiBold{
    font-family: var(--ff-PoppinsSemiBold);
}

/*  color */
.bg_main{
    background-color: var(--bg-main);
}

.bg_second{
    background-color: var(--bg-second);
}

.fc_main{
    color: var(--text-main);
}
.fc_white{
    color: var(--text-white);
}
.fc_black{
    color: var(--text-black);
}
.fc_lightGrey{
    color: var(--text-light-grey);
}
.fc_light{
    color: var(--text-light);
}
.fc_voilet{
    color: var(--text-voilet);
}

.fc_lightWhite{
    color: var(--text-light-white);
}

.fc_dark{
    color: var(--text-dark);
}
