@font-face {
    font-family: 'Slackey';
    src: url(./assets/fonts/Slackey/Slackey-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

:root {

    /* font size */
    --fs-sm: 10px;
    --fs-md: 14px;
    --fs-xmd: 16px;
    --fs-lg: 14px;
    --fs-xlg: 16px;
    --fs-xxlg: 22px;
    --fs-xl: 25px;
    --fs-xxl: 30px;
    --fs-xxxl: 35px;


    /* color */
    --bg-main: rgba(255, 244, 234, 1);
    --bg-second: #FFFAF5;
    --text-main: #000958;
    --text-black: #000000;
    --text-white: #ffffff;
    --text-light-grey: #B2B3C4;
    --text-light: #656689;
    --text-coolGrey: #5E6085;
    --text-voilet: #48496A;
    --text-light-white: #f3f3f3;
    --text-dark: #292525;

    /* font family */
    --ff-slackey: 'Slackey';
    --ff-PoppinsRegular: 'Poppins Regular';
    --ff-PoppinsMedium: 'Poppins Medium';
    --ff-PoppinsSemiBold: 'Poppins SemiBold';

}

/* font family */

.ff_Slackey {
    font-family: var(--ff-slackey);
}

.ff_PoppinsRegular {
    font-family: var(--ff-PoppinsRegular);
}

.ff_PoppinsMedium {
    font-family: var(--ff-PoppinsMedium);
}

.ff_PoppinsSemiBold {
    font-family: var(--ff-PoppinsSemiBold);
}

/*  color */
.bg_main {
    background-color: var(--bg-main);
}

.bg_second {
    background-color: var(--bg-second);
}

.fc_main {
    color: var(--text-main);
}

.fc_white {
    color: var(--text-white);
}

.fc_black {
    color: var(--text-black);
}

.fc_lightGrey {
    color: var(--text-light-grey);
}

.fc_coolGrey {
    color: var(--text-coolGrey);
}

.fc_light {
    color: var(--text-light);
}

.fc_voilet {
    color: var(--text-voilet);
}

.fc_lightWhite {
    color: var(--text-light-white);
}

.fc_dark {
    color: var(--text-dark);
}


/* font size */


.fs_sm {
    font-size: var(--fs-sm);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_xmd {
    font-size: var(--fs-xmd);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_xlg {
    font-size: var(--fs-xlg);
}

.fs_xxlg {
    font-size: var(--fs-xxlg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fs_xxxl {
    font-size: var(--fs-xxxl);
}



@media (min-width:512px) {
    :root {
        --fs-xlg: 18px;
        --fs-xxlg: 22px;
        --fs-xl: 28px;
        --fs-xxl: 40px;
        --fs-xxxl: 45px;
    }
}


@media (min-width:768px) {
    :root {
        --fs-xlg: 20px;
        --fs-xxlg: 25px;
        --fs-xl: 30px;
        --fs-xxl: 42px;
        --fs-xxxl: 48px;
    }

}

@media (min-width:992px) {
    :root {
        --fs-sm: 14px;
        --fs-md: 15px;
        --fs-xmd: 16px;
        --fs-lg: 18px;
        --fs-xlg: 20px;
        --fs-xxlg: 25px;
        --fs-xl: 30px;
        --fs-xxl: 40px;
        --fs-xxxl: 50px;
    }

}

@media (min-width:1200px) {
    :root {
        --fs-sm: 14px;
        --fs-md: 16px;
        --fs-xmd: 18px;
        --fs-lg: 20px;
        --fs-xlg: 22px;
        --fs-xxlg: 27px;
        --fs-xl: 35px;
        --fs-xxl: 45px;
        --fs-xxxl: 55px;
    }

}